<ion-header>
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Lista armazenada no dispositivo</h3>

  <ion-list>
    <ion-item-sliding *ngFor="let item of listTexts">
      <ion-item>
        <h2>{{ item.header }}</h2>
        <p>{{ item.text }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="showEditModal(item)">
          <ion-icon name="information"></ion-icon>
          Editar
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="remove(item)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button ion-button block (click)="showInsertModal()" color="twitter">Inserir</button>
</ion-content>
