<!--
  Generated template for the EditDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editando item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

		<ion-item>
			<ion-input placeholder="Título" required [(ngModel)]="item.header"></ion-input>
	  </ion-item>

	  <ion-item>
			<ion-textarea placeholder="Digite sua anotação" required [(ngModel)]="item.text"></ion-textarea>
	  </ion-item>

	</ion-list>
	<ion-row> 
		<button ion-button block (click)="cancel()">Cancelar</button>
		<button ion-button block (click)="modify()">Alterar</button>
	</ion-row>
</ion-content>
