<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="{{ base64Image }}">
  <button ion-button block (click)="takeAPhoto()">Fotografar</button>
</ion-content>
