<!--
  Generated template for the InsertDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<ion-title>Inserir Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-input placeholder="Título" required [(ngModel)]="header"></ion-input>
	  </ion-item>
	  <ion-item>
			<ion-textarea placeholder="Digite sua anotação" required [(ngModel)]="text"></ion-textarea>
	  </ion-item>
	</ion-list>
	
	<button ion-button block (click)="save()">Salvar</button>
</ion-content>
